<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Download Video</title>
</head>
<body>
    <div class="container">
        <h1>Video Downloaded Successfully</h1>
        <a  id="download_link" href="{{ url_for('static', filename=video_title+'.mp4') }}" download="{{video_title}}.mp4">Download Video</a>
    </div>
    <script type="text/javascript">
        document.getElementById("download_link").click();
    </script>
</body>
</html>
